<h1>Nouveau commentaire</h1>



<%= form_for @comment ,url: comments_path  do |f| %>

<div class="form-group">
    <label> commentaire</label>
    <%= f.text_field :content, class:'form-control' %>
</div>

<div class="form-group">
    <label> User:</label>
    <%= f.number_field :user_id, class:'form-control' %>
</div>

<div class="form-group">
    <label> Gossip ID:</label>
    <%= f.number_field :gossip_id, class:'form-control' %>
</div>


<div class="form-group">
    <%= submit_tag 'New' %>
</div>
<% end %>
